<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>@ViewData[ "Title" ] - CoreCI</title>
        <environment include="Development" >
            <link href="~/dist/style.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development" >
            <link asp-append-version="true" href="~/dist/style.css" rel="stylesheet" />
        </environment>
    </head>
    <body aurelia-app="@ViewData[ "AureliaApp" ]" class="app sidebar-fixed aside-menu-fixed aside-menu-hidden" >
        @RenderBody()
        <environment include="Development" >
            <script src="/dist/vendor.js" ></script>
            <script src="/dist/main.js" ></script>
        </environment>
        <environment exclude="Development" >
            <script asp-append-version="true" src="/dist/vendor.js" ></script>
            <script asp-append-version="true" src="/dist/main.js" ></script>
        </environment>
        @RenderSection( "Scripts", required : false )
    </body>

</html>
