@{
    ViewData[ "Title" ] = "Home Page";
}
<script id="AppView" type="x-tmpl-aurelia" >
    <template>
        @Url.Action("Details","Jobs",new{area=""})
        <button click.delegate="greet()">
            ${text}
        </button>
    </template>
</script>